 .cartScreen {
     display: flex;
     flex-direction: column;
     background-image: url('../resources/webBackground2.jpg');
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     min-height: 100vh;
     width: 100%;
     padding: 0;
     margin: 0;
 }


 .cartHeader {
     padding-left: 20px;
     color: rgb(233, 171, 2);
     font-size: 70px;
     margin: 0;
 }

 .delete-games {
     margin-left: 25px;
     padding: 12px 12px;
     font-size: 20px;
     width: auto;
     border: none;
     background-color: #ff00008f;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     font-style: italic;

 }

 .delete-games:hover {
     background-color: #ffffff;
     color: black;
 }

 .buy-games {
     margin-left: 15px;
     padding: 12px 12px;
     font-size: 20px;
     font-style: italic;
     width: 5%;
     background-color: #3cff0060;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 .buy-games:hover {
     background-color: #ffffff;
     color: black;
 }

 .totalPrice {
     color: rgb(233, 171, 2);
     font-size: 70px;
     padding-left: 20px;
 }