.game-item__name {
    text-align: center;
}

.game-item {
    font-size: calc(10px + 2vmin);
    color: white;
}

.game-item__price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.add-to-cart {
    margin-left: 10px;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.add-to-cart:hover {
    background-color: #0056b3;
}